.my-image {
	margin-left: 20px;
}

.smaller-btn {
	width: 120px;
	max-width: 150px;
}

.social-icons {
	display: flex;
	margin-top: 20px;
}

.social-icons a {
	margin: 0 10px;
	color: #f0ffff;
	font-size: 28px;
	transition: color 0.3s ease;
}

.social-icons a:hover .bi-facebook {
	color: #3b5998;
}

.social-icons a:hover .bi-instagram {
	color: #e4405f;
}

.social-icons a:hover .bi-twitter {
	color: #1da1f2;
}

.social-icons a:hover .bi-youtube {
	color: #ff0000;
}

.footer-link {
    cursor: pointer;
    }