.my-image {
    margin-left: 20px; /* Adjust margin as needed */
}

.smaller-btn {
    width: 120px; /* Set the desired width */
    max-width: 150px; /* Optional: Set a maximum width */
  }


  .social-icons {
    display: flex;
    /*justify-content: center; /* Center the icons horizontally */
    margin-top: 20px; /* Add some top margin */

}

/* Style the individual icons */
.social-icons a {
    margin: 0 10px; /* Add spacing between icons */
    color: #F0FFFF; /* Set icon color */
    font-size: 28px; /* Set icon size */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}


/* Hover effect on icons */
.social-icons a:hover .bi-facebook {
    color: #3b5998; /* Facebook color on hover */
}

.social-icons a:hover .bi-instagram {
    color: #e4405f; /* Instagram color on hover */
}

.social-icons a:hover .bi-twitter {
    color: #1da1f2; /* Twitter color on hover */
}

.social-icons a:hover .bi-youtube {
    color: #ff0000; /* YouTube color on hover */
}
