.nav-link.active {
  color: black;
}
.my-image {
  margin-left: 20px;
}

.smaller-btn {
  width: 120px;
  max-width: 150px;
}

.social-icons a {
  transition: color 0.3s ease;
}

.social-icons a:hover .bi-facebook {
  color: #3b5998;
}

.social-icons a:hover .bi-instagram {
  color: #e4405f;
}

.social-icons a:hover .bi-twitter {
  color: #1da1f2;
}

.social-icons a:hover .bi-youtube {
  color: #ff0000;
}

.social-icons a:hover .bi-linkedin {
  color: #005582;
}

.footer-link {
  cursor: pointer;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
